<style>
html {
  background: url('<%= asset_path('background/bg4.png') %>') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
}
</style>
<section class="wrapper form">
  <header>
    <h1>journal</h1>
  </header>
  <div class="entrance cf alternate">
		<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }, :class => '') do |f| %>
		  <%= devise_error_messages! %>

		  <%= f.email_field :email, :placeholder => "Email", :autofocus => true %>

		  <%= f.submit "Resend Confirmation Instructions", :class => 'button' %>
		<% end %>
  </div>

	<%= render "devise/shared/links" %>
</section>
