<style>
html {
  background: url('<%= asset_path('background/bg4.png') %>') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
}
</style>
<html class="SignupPage">
  <body class="SignupPage">
    <div id="WindowWrapper">
            <div id="Forms">
                    <div class="FormWrapper">
                            <h1>Donuts</h1>
                                    <div class="FormInner" id="logIn">
                                    
                                            <h2>Sign up</h2>

                                            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), class: "SignupForm") do |f| %>
                                                    <dl>
                                                      <%= devise_error_messages! %>

                                                      <dt class="Baseline"><%= f.label :email %></dt>
                                                      <dd class="Baseline"><%= f.email_field :email, :autofocus => true %></dd>
                                                      <hr class="Baseline" />

                                                      <dt class="Baseline"><%= f.label :password %></dt>
                                                      <dd class="Baseline"><%= f.password_field :password %></dd>
                                                      <hr class="Baseline" />

                                                      <dt class="Baseline"><%= f.label :password_confirmation %></dt>
                                                      <dd class="Baseline"><%= f.password_field :password_confirmation %></dd>
                                                      <hr class="Baseline" />

                                                      <div class="SubmitButton"><%= f.submit "Sign up" %></div>
                                                    </dl>
                                            <% end %>

                                    </div>
                                    <div class="SharedLinks">
                                            <%= render "devise/shared/links" %>
                                    </div>
                    </div>
            </div>
    </div>
  </body>
</html>
