<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<%= render 'text_editor' %>
<div id="dialog" title="What Format?"></div>
<section class="wrapper">
  <%= render "shared/navbar" %>
  <%= render "shared/header" %>
  <section class="entries">
    <%= render @entries %>
  </section>

  <%= will_paginate @entries %>
</section>

