<script type="text/javascript" src="tiny_mce/tiny_mce.js"></script>
<%= render 'text_editor' %>
<section class="wrapper">
  <%= render "shared/navbar" %>
  <header class="main-header">
    <h1><%= link_to "jurnl", entries_path %></h1>
    <form>
      <input type="button" class="button" value="Search">
      <input type="hidden" id="userid" value="<%= current_user.id %>"/>
      <a href="#" title="Search by Month" class="button icon"><span aria-hidden="true" data-icon="&#x27;"></span></a>
      <input type="text" name="search" class="search right">
    </form> 
  </header>
  <section class="entries">
    <% @entries.each do |entry| %>
      <article class="entry">
        <header>
          <h4 class="left"><%= parseForDate(entry.created_at) %></h4>
        </header>
        <p>
          <%= entry.content %>
        </p>
        <footer>
          <ul>
            <% entry.tags.each do |tag| %>
              <li><a href="/entries?search=<%= tag.name %>" class="tag">#<%= tag.name %></a></li>
            <% end %>
          </ul>
        </footer>
      </article>
    <% end %>
  </section>
</section>
