<script type="text/javascript" src="tiny_mce/tiny_mce.js"></script>
<section class="wrapper">
  <%= render 'text_editor' %>
  <section class="navigation">
    <a href="#" title="Statistics" class="button icon"><span aria-hidden="true" data-icon="&#x21;"></span></a>
    <a href="#" title="Settings" class="button icon"><span aria-hidden="true" data-icon="&#x24;"></span></a>
    <a href="#" title="Export" class="button icon"><span aria-hidden="true" data-icon="&#x22;"></span></a>
    <%= link_to :destroy_user_session, :class => "button icon", :title => "Sign Out", :method => :delete do %>
      <span aria-hidden="true" data-icon="&#x26;">
    <% end %>
  </section>
  <header class="main-header">
    <h1>journal</h1>
    <form>
      <input type="button" class="button" value="Search">
      <a href="#" title="Search by Month" class="button icon"><span aria-hidden="true" data-icon="&#x27;"></span></a>
      <input type="text" name="search" class="search right">
    </form> 
  </header>
  <section class="entries">
    <% @entries.each do |entry| %>
      <article class="entry">
        <header>
          <h4 class="left"><%= parseForDate(entry.created_at) %></h4>
        </header>
        <p>
          <%= entry.content %>
        </p>
        <footer>
          <ul>
            <% entry.tags.each do |tag| %>
              <li><a href="" class="tag">#<%= tag.name %></a></li>
            <% end %>
          </ul>
        </footer>
      </article>
    <% end %>
  </section>
</section>
