<script type="text/javascript" src="tiny_mce/tiny_mce.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<%= render 'text_editor' %>
<div id="dialog" title="What Format?"></div>
<section class="wrapper">
  <%= render "shared/navbar" %>
  <%= render "shared/header" %>
  <section class="entries">
    <% @entries.each do |entry| %>
      <article class="entry">
        <header>
          <h4 class="left"><%= parseForDate(entry.created_at) %></h4>
        </header>
        <p>
          <%= entry.content.html_safe %>
        </p>
        <footer>
          <ul>
            <% entry.tags.each do |tag| %>
              <li><a href="/entries?search=<%= tag.name %>" class="tag">#<%= tag.name %></a></li>
            <% end %>
          </ul>
        </footer>
      </article>
    <% end %>
  </section>
</section>
