<style>
  body {
    font-size: 16px;
    background-image: url('/images/irongrip.png');
    background-repeat: repeat;
  }
</style>
<section class="Column100" id="MainColumn">
  <section class="innerColumn">
      <header class="mainHeader">
          <h1>Donuts</h1>
          <div class="menu">
              <%= link_to 'New Post', new_entry_path, :class => "button left" %>
              <a href="#" class="button right icon"><span aria-hidden="true" data-icon="&#x24;"></span></a>
              <a href="#" class="button right icon"><span aria-hidden="true" data-icon="&#x22;"></span></a>
              <a href="#" class="button right icon"><span aria-hidden="true" data-icon="&#x21;"></span></a>
              <form action="/entries" method="get"><input type="text" name="search" class="search right"><form>
          </div>
      </header>
      <section class="entries">
        <% @entries.each do |entry| %>
          <article class="entry">
            <header>
            <h4 class="left"><%= parseForDate(entry.created_at) %></h4>
            <h4 class="right"><%= parseForTime(entry.created_at) %></h4>
          </header>
          <p>
            <%= entry.content %>
          </p>
          <footer>
            <ul>
              <% entry.tags.each do |tag| %>
                <li><a href="#" class="tag">#<%= tag.name %></a></li>
              <% end %>
            </ul>
          </footer>
        </article>
      <% end %>
    </section>
  </section>
</section>
