<script type="text/javascript" src="jscolor/jscolor.js"></script>
<section class="wrapper">
  <%= render "shared/navbar" %>
  <%= render "shared/header" %>

<div>
  <%= form_for @user, url: "/users/#{@user.id}/edit", method: "put" do |f| %>
    <p>
      <%= f.label :bg_color_hex %>
      <%= f.text_field :bg_color_hex %>
    </p>
   
    <p>
      <%= f.label :font_color_hex %>
      <%= f.text_field :font_color_hex %>
    </p>
    
    <p>
      <%= f.label :font_point %>
      <%= f.text_field :font_point %>
    </p>
   
    <p>
      <%= f.label :goal_duration %>
      <%= f.text_field :goal_duration %>
    </p>
    
    <p>
      <%= f.label :goal_word_count %>
      <%= f.text_field :goal_word_count %>
    </p>
   
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
</section>

