<script type="text/javascript" src="/jscolor/jscolor.js"> </script>

<%= render 'entries/text_editor' %>
<section class="wrapper">
  <%= render "shared/navbar2" %>
  <%= render "shared/header" %>
  <section class="settings">
    
      <h2>Settings</h2>
      <%= form_for @user, url: "/users/#{@user.id}", method: "put" do |f| %>
      <p>
        <%= f.label :bg_color_hex, "Entry Background Color:" %>
        <%= f.text_field :bg_color_hex, class: "color" %>
      </p>
     
      <p>
        <%= f.label :font_color_hex, "Entry Text Color:" %>
        <%= f.text_field :font_color_hex, class: "color" %>
      </p>
      
      <p>
        <%= f.label :font_point, "Entry Text Size:" %>
        <%= f.select :font_point, options_for_select(possible_font_points, @user.font_point) %>
      </p>
     
      <p>
        <%= f.label :goal_duration, "Time Goal: (seconds)" %>
        <%= f.text_field :goal_duration %>
      </p>
      
      <p>
        <%= f.label :goal_word_count, "Word Count Goal:" %>
        <%= f.text_field :goal_word_count %>
      </p>

      <p>
        <%= f.label :distraction_timeout, "Time Until Distracted: (seconds) " %>
        <%= f.text_field :distraction_timeout %>
      </p>
     
      <p>
        <%= f.submit :class => 'button', :value =>'Update settings' %>
      </p>
    <% end %>

</section>
</section>


