<style>
html {
  background: url("/images/background/bg4.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
}
</style>
<section class="wrapper form">
  <header>
    <h1>journal</h1>
  </header>
  <div class="entrance cf alternate">
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
		  <%= devise_error_messages! %>
		  <%= f.hidden_field :reset_password_token %>

		  <%= f.password_field :password, :placeholder => 'Email',  :autofocus => true %>

		  <%= f.password_field :password_confirmation, :placeholder => 'Retype Email' %>

		  <%= f.submit "Change Password", :class => 'button' %>
		<% end %>
  </div>

	<%= render "devise/shared/links" %>
</section>