<header class="main-header">
  <h1><%= link_to "jurnl", entries_path %></h1>
  <%= form_tag "/entries", method: "get", id: "search-form" do %>
    <%= submit_tag "Search", class: "button search-button" %>
    <%= link_to "javascript:void(0)", title: "Search by Month", class: "button icon", id: "date-icon" do %>
      <span aria-hidden="true" data-icon="&#xe604;"></span>
    <% end %>
    <div class="date-selects <%= "date-selects-hidden" unless date_searched? @search %>">
      <%= select_tag("search[date][month]", options_for_select(monthnames, @search.try(:[],:date).try(:[],:month)), prompt: "Month") %><%= select_tag("search[date][year]", options_for_select(YEARS, @search.try(:[],:date).try(:[],:year)), prompt: "Year", include_blank: false) %>
    </div>
    <%= text_field_tag "search[q]", @search.try(:[],:q) ,class: "search right" %>
  <% end %>
  <script type="text/javascript" src="/tiny_mce/tiny_mce.js"></script>
</header>

<% if date_searched? @search %>
  <div class="cf">
  <%= link_to "Previous Month", "javascript:void(0);", id: "prev-month"%>
  <%= link_to "Next Month", "javascript:void(0);", id: "next-month"%>
  </div>
<% end %>
