<!Doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Donut - login/sign up</title>
	<link id="page_favicon" href="/assets/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>

<div id="loginWrapper">
	<div id="Forms">
		<div class="FormWrapper">
			<h1>Donut</h1>
				<div class="FormInner" id="logIn">
					<h2>User sign in</h2>

					<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
						<dl>
							<dt class="Baseline"><%= f.label :email %></dt>
							<dd class="Baseline"><%= f.email_field :email, :autofocus => true %></dd>

							<dt class="Baseline"><%= f.label :password %></dt>
							<dd class="Baseline"><%= f.password_field :password %></dd>

							<% if devise_mapping.rememberable? -%>
							<dt><%= f.label :remember_me %></dt>
							<dd><%= f.check_box :remember_me %></dd>
							<% end -%>

							<div><%= f.submit "Sign in" %></div>
						</dl>
					<% end %>
					
				</div>
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>
	
</body>
</html>