<!DOCTYPE html>
<html>
  <head>
    <title>jurnl</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link id="page_favicon" href="/assets/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <% if notice %>
    <div class="notice"><p class="wrapper"><span aria-hidden="true" class="close" data-icon="&#xe607;"></span><%= notice %></p></div>
    <% end -%>

    <% if alert %>
    <div class="alert"><p class="wrapper"><span aria-hidden="true" class="close" data-icon="&#xe607;"></span><%= alert %></p></div>
    <% end %>
    <%= yield %>
  </body>
</html>
